:root {
  --primary-color: #20263b;
  --primary-color-hover: #ff4b07;
  scrollbar-color: var(--primary-color) #e7e7e7 !important;
  scrollbar-width: auto !important;
}

/* reset */
* {
  margin: 0;
  padding: 0;
  border: 0;
  border: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

a,
label,
input[type=submit],
input[type=button],
input[type=reset],
button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}
a:hover {
  color: var(--primary-color-hover);
}

img,
svg {
  max-width: 100%;
  height: auto;
}

li {
  list-style-type: none;
}

p {
  color: #333;
  line-height: 1.2;
}

table {
  border-collapse: collapse;
  width: 100%;
  display: table;
  overflow-x: auto;
}
table tr td,
table tr th {
  padding: 6px;
  border: 1px solid var(--primary-color);
}
table tr th {
  background-color: var(--primary-color);
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
}
tbody tr:nth-child(2n) {
  background-color: #f5f5f5;
}

input[type=text],
input[type=password],
input[type=email],
input[type=search],
input[type=number],
input[type=date],
input[type=file],
input[type=local-datetime],
input[type=url],
textarea,
select {
  font: inherit;
  border: 2px solid #ccc;
  background-color: #fff;
  padding: 10px 16px;
  width: 100%;
  border-radius: 4px;
  outline: none;
}
textarea {
  resize: vertical;
  height: 100px;
}
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=search]:focus,
input[type=number]:focus,
input[type=date]:focus,
input[type=file]:focus,
input[type=local-datetime]:focus,
input[type=url]:focus,
textarea:focus,
select:focus {
  border-color: var(--primary-color-hover);
}

select[multiple="multiple"] {
  height: 155px;
}
select[multiple="multiple"] option {
  padding: 6px;
  border-bottom: 1px solid #ddd;
}
select[multiple="multiple"] option:last-child {
  border-bottom: none;
}

input[type=submit],
input[type=button],
input[type=reset],
.button,
button {
  display: inline-block;
  padding: 9px 14px;
  border: none;
  background-color: var(--primary-color);
  color: #fff;
  font: inherit;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: bold;
}
input[type=submit]#cancel,
input[type=button]#cancel,
.button#cancel,
button#cancel {
  background-color: #888;
}
input[type=submit]:hover,
input[type=button]:hover,
input[type=reset]:hover,
.button:hover,
button:hover {
  background-color: var(--primary-color-hover);
  color: #fff;
}
input[type=submit]#cancel:hover,
input[type=button]#cancel:hover,
.button#cancel:hover,
button#cancel:hover {
  background-color: #777;
}

.button.button-detail-icon {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 44px;
}
.button.button-detail-icon svg {
  fill: #fff;
  position: absolute;
  left: 14px;
}

.form-group + .form-group {
  margin-top: 30px;
}
.form-footer {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form-footer > span {
  display: flex;
  gap: 30px;
}
label {
  display: block;
  margin-bottom: 5px;
}
.checkboxes-container label input[type="checkbox"] {
  margin-right: 10px;
}
.checkboxes-container label {
  font-weight: normal !important;
}

.white-space-nowrap {
  white-space: nowrap !important;
}

.flash {
  display: block;
  text-align: center;
  margin-bottom: 40px;
  border: 1px solid #ccc;
  background-color: #fafafa;
  border-radius: 4px;
  padding: 5px 0;
}
.flash li {
  padding: 5px 12px;
}
.flash.flash-notice {
  border-color: #ede04d;
  background-color: #fff8e1;
}
.flash.flash-success {
  border-color: #39b54a;
  background-color: #a2feae;
}
.flash.flash-error {
  border-color: #ff7200;
  background-color: #ffccbc;
}
.flash.flash-info {
  border-color: #4bb1cf;
  background-color: #b3e5fc;
}

.enabled,
.status {
  background-color: #eee;
  padding: 3px 10px;
  line-height: 1;
  white-space: nowrap;
}
.status.status-active {
  background-color: #a2feae;
}
.status.status-closed,
.status.status-inactive {
  background-color: #ffccbc;
}
.status.status-created {
  background-color: #b3e5fc;
}

.td-quote {
  margin: 0 !important;
  max-width: 800px !important;
  display: block;
}
.td-config-desc {
  margin: 0 !important;
  display: block;
  max-width: 400px !important;
}

.paginate {
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
}
.paginate > ul,
.paginate > p {
  display: flex;
}
.paginate > ul li + li,
.paginate > p a + a {
  margin-left: 10px;
}
.paginate ul li span.active {
  display: inline-block;
  padding: 9px 14px;
  background-color: #eee;
  border-radius: 4px;
}

.paginate p.paginate-count {
  align-items: center;
  color: #888;
}

#charcounter {
  margin-top: 5px;
  color: #888;
  text-align: right;
}
#charcounter.charcounter-over-limit {
  color: red;
}

.sample-uploads {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #aaa;
  padding-bottom: 20px;
  align-items: center;
  text-align: center;
}
.sample-uploads-title h3 {
  font-size: 2.4em !important;
}
.sample-uploads-title p + p {
  margin-top: 10px;
}
.sample-uploads-files {
  display: flex;
  gap: 5em
}
.sample-uploads-files a img {
  width: 48px;
}

html {
  background-color: #fafafa;
  color: #333;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  min-height: 100vh;
  min-width: 480px;
}
body {
  min-height: 100vh;
}
.wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

/* auth */
.auth-wrapper {
  width: 520px;
  margin: 100px auto;
}

.auth-wrapper .auth-brand {
  margin-bottom: 50px;
}
.auth-wrapper .auth-brand img {
  margin: 0 auto;
  display: block;
  width: 240px;
}

.auth-wrapper .auth-container {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 50px 20px;
}
.auth-wrapper .auth-container .auth-container-header {
  text-align: center;
}
.auth-wrapper .auth-container .auth-container-header h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}
.auth-wrapper .auth-container .auth-container-content,
.auth-wrapper .auth-container .auth-container-login-link {
  border-top: 1px solid #eee;
  margin-top: 30px;
  padding-top: 30px;
}
.auth-wrapper .auth-container .auth-container-login-link {
  text-align: center;
}

/* dashboard */
.wrapper-dashboard {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  min-height: 100vh;
  height: auto;
}

/* aside */
.wrapper .aside {
  flex-basis: 200px; /* if you change this, also change max-width for .wrapper .main */
  flex-shrink: 0;
  background-color: #20263b;
}

/* aside - branding */
.aside-brand {
  background-color: #e5e5e5;
  display: flex;
  height: 70px;
  align-items: center;
}
.aside-brand h1 {
  display: none;
}

/* aside - menu */
.aside-menu ul li a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1em;
  border-left: 5px solid transparent;
  border-bottom: 1px solid #282e43;
  padding: 16px 12px 16px 20px;
}
.aside-menu ul li a.active {
  border-left-color: var(--primary-color-hover);
  color: #fff;
}
.aside-menu ul li a.active:hover {
  border-left-color: #fff;
}
.aside-menu ul li a span svg {
  display: inline-block;
  fill: #fff;
  width: 24px;
  margin-right: 10px;
  vertical-align: middle;
}
.aside-menu ul li a:hover {
  background-color: var(--primary-color-hover);
}

.aside-menu ul li a span {
  display: flex;
  align-items: center;
}
.aside-menu ul li a span.dropdown svg {
  margin-right: 0;
}
.aside-menu ul li a span.dropdown-open svg {
  transform: rotate(90deg);
}

.aside-menu ul li ul {
  display: none;
}
.aside-menu ul li ul.dropdown-active {
  display: block;
}
.aside-menu ul li ul li a {
  padding-left: 40px;
  text-transform: none;
  color: #aaa;
  line-height: 1.8;
  padding: 8px 12px 8px 40px;
}
.aside-menu ul li ul li a:hover {
  color: #fff;
}
.aside-menu ul li ul li a.active {
  border-left-color: transparent;
}

/* main */
.wrapper .main {
  flex-grow: 1;
  flex-shrink: 1;
  max-width: calc(100% - 200px);
  min-width: 280px;
}
.wrapper .main.aside-collapsed {
  max-width: calc(100% - 80px);
  min-width: 400px;
}

/* main - navbar */
.wrapper .main .navbar {
  display: flex;
  justify-content: space-between;
  min-height: 70px;
  align-content: center;
  align-items: center;
  background-color: #eee;
  padding: 0 20px;
}

/* main - navbar - left section */
.wrapper .main .navbar .navbar-left {
  display: flex;
  align-items: center;
}

/* main - navbar - left section - main header */
.wrapper .main .navbar .navbar-left .main-header {
  display: inline-block;
}
.wrapper .main .navbar .navbar-left .main-header h2 {
  margin: 0 10px;
  text-transform: uppercase;
  color: #555;
  font-size: 1.5em;
}

/* main - right section - profile-section */
.wrapper .main .navbar .navbar-right {
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: row;
  flex-shrink: 0;
}
.wrapper .main .navbar .navbar-right .profile-section {
  position: relative;
}
.profile-page .profile-page-initials-avatar,
.wrapper .main .navbar .navbar-right .profile-section > a {
  display: flex;
  background-color: var(--primary-color);
  align-items: center;
  justify-content: center;
  padding: 12px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
}
.profile-page .profile-page-initials-avatar span,
.wrapper .main .navbar .navbar-right .profile-section > a span {
  color: #fff;
  font-weight: bold;
  font-size: 1.5em;
  line-height: 1;
}
.wrapper .main .navbar .navbar-right .profile-section .profile-dropdown {
  display: none;
  position: absolute;
  z-index: 99;
  background-color: #eaeaea;
  margin-top: 10px;
  right: 0;
  width: auto;
}
.wrapper .main .navbar .navbar-right .profile-section .profile-dropdown h3 {
  padding: 10px 20px 5px;
  font-size: 1.5em;
  white-space: nowrap;
}
.wrapper .main .navbar .navbar-right .profile-section .profile-dropdown p {
  color: #555;
  padding: 0 20px 10px;
}
.wrapper .main .navbar .navbar-right .profile-section .profile-dropdown ul {
  border-top: 1px solid #ddd;
}
.wrapper .main .navbar .navbar-right .profile-section .profile-dropdown ul li a {
  display: flex;
  padding: 10px 20px;
  color: #333;
  align-items: center;
}
.wrapper .main .navbar .navbar-right .profile-section .profile-dropdown ul li a svg {
  width: 24px;
  display: inline-block;
  margin-right: 10px;
  fill: #333;
}
.wrapper .main .navbar .navbar-right .profile-section .profile-dropdown ul li a:hover {
  color: #fff;
  background-color: var(--primary-color);
}
.wrapper .main .navbar .navbar-right .profile-section .profile-dropdown ul li a:hover svg {
  fill: #fff;
}

/* main - content */
.wrapper .main .content {
  padding: 30px 20px;
}
.error-section,
.main-section {
  padding: 20px;
}
.main-section-npt {
  padding-top: 0;
}
.wrapper .main .content h2 {
  font-size: 2em;
  margin-bottom: 10px;
}
.wrapper .main .content .content-page {
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #eee;
}
.wrapper .main .content .content-page.dashboard-content-page {
  background-color: transparent;
  padding: 0;
  border-radius: 0;
  border: none;
}

.wrapper .main .content .content-page div + div {
  margin-top: 30px;
}
.wrapper .main .content .content-page div h3 {
  font-size: 2em;
  margin-bottom: 10px;
}

/* content header */
.content-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 30px;
}
.content-header .content-header-buttons a {
  display: inline-block;
}
.content-header .content-header-buttons a + a,
.content-header div:last-child a + a {
  margin-left: 10px;
}


/* breadcrumbs */
.breadcrumbs {
}
.breadcrumbs ul {
  flex-wrap: wrap;
}
.breadcrumbs ul li {
  display: inline-block;
  line-height: 1.5;
}
.breadcrumbs ul li.active-breadcrumb {
  color: #888;
}
.breadcrumbs ul li:after {
  content: '/';
  font: inherit;
  font-family: monospace, monospace;
  margin: 0 10px;
  color: #888;
}
.breadcrumbs ul li:last-child:after {
  content: '';
}
.breadcrumbs form {
  display: inline-block;
}
.breadcrumbs form button {
  color: var(--primary-color-hover);
  background-color: transparent;
  padding: 0;
  text-transform: none;
  font-weight: normal;
  outline: none;
}
.breadcrumbs form button:active,
.breadcrumbs form button:focus,
.breadcrumbs form button:hover {
  outline: none;
}
.breadcrumbs form button:hover {
  text-decoration: underline;
}

select + input {
  margin-top: 10px;
}

/*select + textarea,
select + select,
select + input,
textarea + input,
input + input {
  margin-top: 20px;
}*/

/* lists */
.list h3 {
  font-size: 1.2em;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}
.list h3:after {
  position: absolute;
  content: '';
  background-color: var(--primary-color);
  height: 3px;
  width: 60px;
  bottom: 0;
  left: 0;
}
.list > ul {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 1em;
}
.list > ul li {
  flex-basis: calc(33.33% - 1em);
  flex-grow: 0;
  flex-shrink: 0;
}
.list > ul li ul {
  padding: 20px;
  border: 1px solid #ddd;
}
.list > ul li ul li {
  padding: 5px 0;
}
.list > ul li ul li strong {
  display: inline-block;
  width: 120px;
  margin-right: 10px;
}
.list > ul li form {
  margin-top: 20px;
}
.list > ul li form button {
  display: block;
  text-align: center;
  width: 100%;
}

/* .page-notes {
  margin-top: 50px;
}
.page-notes h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
  position: relative;
  border-bottom: 2px solid var(--primary-color);
  padding-bottom: 10px;
}
.page-notes ol li {
  list-style-type: decimal;
  list-style-position: inside;
  padding: 10px 0;
  font-size: 1.2em;
} */

/* profile page */
.profile-page {
  display: flex;
  flex-direction: column;
}

.profile-page-block + .profile-page-block {
  margin-top: 50px;
}

.profile-page-initials {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.profile-page-initials-avatar {
  display: inline-flex !important;
  width: 120px !important;
  height: 120px !important;
  margin-right: 0 !important;
}
.profile-page-initials-avatar span {
  font-size: 3.5em !important;
}
.profile-page-initials-details {
  margin-top: 0 !important;
  margin-left: 20px;
}
.profile-page-initials-details h3 {
  font-size: 3em !important;
  margin-bottom: 5px !important;
}
.profile-page-initials-details h4 {
  font-size: 1.5em;
  color: #888;
}

.profile-page-list {
  display: inline-flex;
  flex-direction: column;
}
.profile-page-list h3 {
  position: relative;
  font-size: 1.5em !important;
  color: #888;
  margin-bottom: 20px !important;
  padding-bottom: 10px;
}
.profile-page-list h3:after {
  content: '';
  position: absolute;
  height: 3px;
  width: 2em;
  background-color: var(--primary-color);
  bottom: 0;
  left: 0;
}
.profile-page-list ul {
  margin-left: 20px;
}
.profile-page-list ul li {
  padding: 3px 0;
}
.profile-page-list ul li + li {
  margin-top: 5px;
}
.profile-page-list ul li strong {
  display: inline-block;
  width: 140px;
}
.profile-page-roles ul li {
  list-style-type: decimal;
  list-style-position: inside;
}

/* topbar */
.topbar {
  margin-bottom: 30px;
  background-color: #fafafa;
  border-bottom: 1px solid #ddd;
  padding: 20px;
}
.topbar form {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.topbar form > div {
  margin-top: 0 !important;
}
.topbar form > div:first-child > div {
  display: inline-block;
  margin-right: 20px;
  margin-top: 0 !important;
}
.topbar form > div > div label {
  font-weight: bold;
}
.topbar form > div > div input,
.topbar form > div > div select {
  width: auto;
}
.topbar form > div > div button + button,
.topbar form > div > div select + select {
  margin-left: 10px;
  margin-top: 0;
}

/* new */
.resource-form form > div + div {
  margin-top: 30px;
}
.resource-form form > div label {
  font-weight: bold;
}
.resource-form form > div span.helptext {
  display: block;
  margin-bottom: 10px;
  color: #888;
}
.resource-form form > div button + button {
  margin-left: 10px;
}
.resource-form form > div p.markupafter {
  display: block;
  margin-top: 10px;
}
.resource-form form > div input + input {
  margin-top: 10px;
}

.resource-sms-form form > div + div,
.resource-sms-form form > div + div {
  margin-top: 10px !important;
}

/* detail title */
.detail-title {
  font-size: 1.5em;
  margin-bottom: 20px;
}

/* detail buttons */
.detail-buttons {
  display: flex;
  justify-content: space-between;
}
.detail-buttons ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.detail-buttons ul li {
  margin-right: 10px;
}
.detail-buttons ul.detail-buttons-right li {
  margin-right: 0;
  margin-left: 10px;
}

/* roles & permissions */
/*.roles-permissions,
.users-roles {
  padding: 20px;
}*/
.roles-permissions form div + div,
.users-roles form div + div,
.contact-groups form div + div,
.group-contacts form div + div {
  margin-top: 20px !important;
}
.roles-permissions form div > label {
  display: inline-block;
  vertical-align: middle;
}
.roles-permissions form div label h3 {
  display: inline-block;
  margin-left: 10px;
}
.roles-permissions form div ul {
  margin-left: 20px;
}
.roles-permissions form div ul li label,
.users-roles form div ul li label,
.contact-groups form div ul li label,
.group-contacts form div ul li label {
  display: inline-block;
  padding: 7px 0;
  margin: 0;
}
.roles-permissions form div ul li label input[type="checkbox"],
.users-roles form div ul li label input[type="checkbox"],
.contact-groups form div ul li label input[type="checkbox"],
.group-contacts form div ul li label input[type="checkbox"] {
  margin-right: 5px;
}
.roles-permissions form div ul li label p,
.users-roles form div ul li label p,
.role-users form div ul li label p {
  display: inline-block;
  margin-left: 10px;
}
.roles-permissions form div ul li label p span {
  display: inline-block;
  color: #888;
  font-style: italic;
}

/* listing */
.empty-listing p {
  font-size: 1.5em;
  text-align: center;
  padding: 50px 0;
  color: #888;
}
.resource-listing .resource-actions {
  padding: 4px 6px;
}
.resource-listing .resource-actions div {
  display: block;
  white-space: nowrap;
  width: max-content;
}
.resource-listing .resource-actions div a {
  display: inline-block;
  margin: 0 5px;
}
.resource-listing .resource-actions div a:hover svg path {
  fill: var(--primary-color-hover);
}

/* dashboard widgets */
.wrapper-dashboard .content-header {
  margin-bottom: 10px;
}
.dashboard-group {
  display: flex;
  flex-direction: column;
}

.dashboard-group-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0 10px;
}
.dashboard-group-title h3 {
  font-size: 1.8em !important;
  margin-bottom: 0 !important;
}
.dashboard-group-title form {
  display: flex;
  align-items: center;
}
.dashboard-group-title form > div {
  display: flex;
  flex-direction: column;
}
.dashboard-group-title form > div + div {
  margin-left: 20px;
  margin-top: 0 !important;
}
.dashboard-group-title form > div label {
  font-size: 1.2em;
  margin-bottom: 5px;
}
.dashboard-group-title form > div select,
.dashboard-group-title form > div input {
  padding: 4px 6px;
}

.dashboard-group-title form div.custom-period-div {
  display: none;
}
.dashboard-group-title form div.custom-period-div.custom-period-div-shown {
  display: block !important;
}
.dashboard-group-title form div.custom-period-div input[type="text"] {
  width: 120px;
}

.dashboard-group-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 0 !important;
}

.content-page.dashboard-content-page > div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}
.dashboard-widget {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #eee;
  border-radius: 4px;
}
.dashboard-widget + .dashboard-widget {
  margin-top: 0 !important;
}

.dashboard-widget.dashboard-widget-clock {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-basis: calc(35% - 10px);
  flex-grow: 0;
  flex-shrink: 0;
}
#dashboard-widget-clock-date {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 2em;
  margin-bottom: 10px;
  color: #888;
}
.dashboard-widget.dashboard-widget-clock ul {
  display: flex;
  flex-direction: row;
}
.dashboard-widget-clock ul li {
  font-size: 3.5em;
  margin: 0 3px;
}
.dashboard-widget-clock ul li.dashboard-widget-clock-point {
  color: #888;
}

/* responsive */
@media (max-width: 1920px){
}
@media (max-width: 1680px){
}
@media (max-width: 1600px){
}
@media (max-width: 1440px){
}
@media (max-width: 1400px){
}
@media (max-width: 1366px){
  .content-page.dashboard-content-page > div {
    flex-direction: column;
  }
}
@media (max-width: 1280px){
}
@media (max-width: 1200px){
  .list > ul li {
    flex-basis: calc(50% - 1em);;
  }
  .topbar-filter form {
    flex-direction: column;
    align-items: start;
  }
  .topbar-filter form div + div {
    margin-top: 20px !important;
  }
  .detail-buttons {
    flex-direction: column;
  }
  .detail-buttons ul li {
    margin-top: 10px;
  }
  .detail-buttons ul.detail-buttons-right li {
    margin-left: 0;
    margin-right: 10px;
  }
}
@media (max-width: 1050px){
}
@media (max-width: 1024px){
}
@media (max-width: 960px){
  .dashboard-group-title {
    flex-direction: column;
    align-items: flex-start;
  }
  .dashboard-group-title form {
    flex-direction: column;
    align-items: flex-start;
    margin: 20px 0;
    width: 100%;
  }
  .dashboard-group-title form div {
    width: 100%;
    margin-bottom: 10px !important;
    margin-left: 0 !important;
  }
  .dashboard-group-title form div:last-child {
    margin-top: 0 !important;
  }
  .dashboard-group-title form div:last-child label {
    height: 0;
  }
  .dashboard-group-title form div select,
  .dashboard-group-title form div input[type="text"] {
    width: 100% !important;
  }
  .dashboard-widget {
    flex-basis: 100% !important;
  }
}
@media (max-width: 800px){
  .topbar form > div:first-child > div {
    display: block;
    margin-right: 0;
    margin-top: 20px !important;
  }
  .topbar form > div:first-child > div:first-child {
    margin-top: 0 !important;
  }
  .paginate {
    flex-direction: column;
    align-items: center;
  }
  .paginate > p {
    margin-top: 20px;
  }
  .paginate .paginate-buttons {
    display: none;
  }
}
@media (max-width: 768px){
  .wrapper .main .content .content-page div p select {
    display: block;
  }
  .wrapper .main .content .content-page div p select + select {
    margin-top: 10px !important;
    margin-left: 0 !important;
  }
  .content-header {
    flex-direction: column;
    align-items: start;
  }
  .content-header > div:last-child {
    margin-top: 20px;
  }
}
@media (max-width: 600px){
  .list > ul li {
    flex-basis: 100%;
  }
  #dashboard-widget-clock-date {
    flex-direction: column;
  }
  #dashboard-widget-clock-date span + span {
    margin-top: 10px;
  }
  #dashboard-widget-clock-date span.comma-sep {
    display: none;
  }
}
